* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h4,h2{
    color:rgb(0, 123, 255);
}
h2{
    text-align: center;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
}
h4 {
    font-family: 'Arial Narrow Bold', sans-serif;
}
#CERTIFICATIONS ul li {
    color:white;

}
#CERTIFICATIONS ul li a{
    text-decoration: none;
    color:inherit;
}
#CERTIFICATIONS ul li a:hover{
    text-decoration: underline;
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 10px;
}
#PROJECTS a{
    text-decoration: none;
    color:cornsilk;
    padding-top: 5px;
    padding-bottom: 5px;

}
#PROJECTS H4{

    margin-bottom: 5px;
}

#EXPERIENCE h3{
    color:cornsilk;
    padding-top: 5px;
    padding-bottom: 5px;
}
#EXPERIENCE h5{
    color:burlywood;
}
#ACHIEVEMENTS h5{
    color:burlywood;
}
#RESUME{
    display: none;
    color:white;

}
#RESUME a{
    text-decoration: none;
    color:rgb(0, 123, 255);
    text-align: left;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    transition: max-height 0.3s ease;
    color: white;
    overflow: hidden;
}
.nav-links {
    list-style: none;
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color:#333;
    text-align: center;
    z-index: 2;
    
   
    
}
.nav-links.active {
    display: flex;
}
.nav-links a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    width: 100%;
}
.nav-links a:hover {
    background-color:darkgray;
}
.hamburger {
    display: block;
    cursor: pointer;
    margin-left: auto;
    z-index: 3;
   
}
.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
}
@media (min-width: 768px) {
    .nav-links {
        display: flex;
        position: static;
        flex-direction: row;
    }
    .hamburger {
        display: none; 
    }
    .nav-links li {
        margin-left: 20px;
    }
}
.profileimg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.profile-image {
    text-align: center; 
    max-width: 400px; 
    margin: 0 auto; 

}
@media(max-width:768px){
    .nav-links{
        top:80px;
        padding-bottom: 20px;
    }
   .profileimg-container{
    margin-top: 150px;
   }
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    box-shadow: 0 0 20px 10px rgba(173, 216, 230, 0.7);

}

.socialprofile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative; 
    z-index: 1; 
}


.social-profiles {
    display: flex;
    gap: 15px; 
}

.social-profiles a {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden; 
    transition: transform 0.3s ease; 
}

.social-profiles a img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%; 
    box-shadow: 0 0 20px 10px rgba(173, 216, 230, 0.7);


     
}

.social-profiles a:hover {
    transform: scale(1.1); 
}



section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #444;
    border-radius: 8px;
    color: white;
}


#HOME {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
    


#SKILLS, #PROJECTS, #EXPERIENCE, #CERTIFICATIONS, #ACHIEVEMENTS {
    margin-top: 40px;
}


section h2 {
    margin-bottom: 15px;
}
    
